# ENV variables

# =============================================================================
#  COVERALLS Settings
# =============================================================================
COVERALLS_RUN_LOCALLY=1
# Check your token of your target repo in https://coveralls.io/
COVERALLS_REPO_TOKEN=<YOUR TOKEN HERE>
